.heading2{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
}

.left{
    min-width: 76%;
}

.right {
    width: 24%;
    display: flex;
    justify-content: center;
    margin-right: 70px;
    margin-top: 50px;
}

.flex-container{
    display: flex;
    width: 100%;
}