.back-btn{
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: white;
}

.flex-container{
    display: flex;
}
.left{
    min-width: 20%;
}
.middle{
    min-width: 60%;
}
.right{
    margin-top: 0;
    display: block;
    min-width: 20%;
}

.sub-head{
    font-weight: bold;
}

.root{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}